Screen {
    background: #000;
    align: center middle;
}

#inp {
    border: solid #fff;
    background: rgba(0,0,0,0);
    width: 25;
}

/* 
I wonder how many lines it would take to make css the primary lang
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital
identify matter gadget explain cheap congress mansion olive now gossip fox vehicle liar draft blind equal donor scheme husband shine cigar donkey crowd vital

*/
